.webtask-red-text {
  color: #E56E62 !important;
}

.webtask-red {
  background-color: #E56E62 !important;
}

.webtask-red-border, .webtask-red-border:focus {
  border-color: #E56E62 !important;
}

code {
  font-size: 10px;
}

nav {
  position: fixed;
  z-index: 10;
  -webkit-transform: translate(0, -100%);
  transform: translate(0, -100%);
}

.header-input {
  width: 80%;
}

.sticky-header .header {
  position: fixed;
  z-index: 10;
  -webkit-transform: scale(0.2, 0.2) translate(-220%, -360%);
  transform: scale(0.2, 0.2) translate(-220%, -360%);
}

.sticky-header .hide-sticky {
  display: none;
}

.sticky-header nav {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.sticky-header .header {
  -webkit-transform: scale(0.2, 0.2) translate(-215%, -360%)
  transform: scale(0.2, 0.2) translate(-215%, -360%)
}

.sticky-header .input-main {
  position: fixed;
  z-index: 10;
  top: 0;
  -webkit-transform: scale(0.6, 0.6) translate(4%, 19%);
  transform: scale(0.6, 0.6) translate(4%, 19%);
}

.card {
  -webkit-transition: -webkit-transform 500ms;
  transition: transform 500ms;
}
.card:hover {
  -webkit-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
}

.button-container {
  padding-bottom: 20px;
}

@media (min-width: 600px) {
  .sticky-header .header {
    -webkit-transform: scale(0.4, 0.4) translate(-102%, -265%);
    transform: scale(0.4, 0.4) translate(-102%, -265%);
  }

  .sticky-header .input-main {
    position: fixed;
    z-index: 10;
    top: 0;
    -webkit-transform: scale(0.6, 0.7) translate(7%, 25%);
    transform: scale(0.6, 0.7) translate(7%, 25%);
  }
}

@media (min-width: 992px) {
  .sticky-header .header {
    -webkit-transform: scale(0.5, 0.5) translate(-95%, -225%);
    transform: scale(0.5, 0.5) translate(-95%, -225%);
  }

  .sticky-header .input-main {
    position: fixed;
    z-index: 10;
    top: 0;
    -webkit-transform: scale(0.6, 0.7) translate(2%, 25%);
    transform: scale(0.6, 0.7) translate(2%, 25%);
  }
}
