.webtask-red-text {
  color: #E56E62 !important;
}

.webtask-red {
  background-color: #E56E62 !important;
}

.webtask-red-border, .webtask-red-border:focus {
  border-color: #E56E62 !important;
}

code {
  font-size: 10px;
}

nav {
  position: fixed;
  z-index: 10;
}

.header-input {
  width: 80%;
}

.sticky-header .header {
  position: fixed;
  top: 0px;
  z-index: 10;
  font-size: 25px;
  padding: 0;
  margin: 0px;
  -webkit-animation: slidein 1s;
  animation: slidein 1s;  
}

nav {
  transform: translate(0, -100%);
  -webkit-transform: translate(0, -100%);
  transition: transform 200ms;
}

.sticky-header nav {
  transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transition: transform 200ms;
}

.sticky-header .input-main {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 50%;
  right: 240px;
  top: 3px;
  -webkit-animation: slidein 1s;
  animation: slidein 1s;
}

.animated-header-text {
  -webkit-animation: slidein 1s;
  animation: slidein 1s;
}

.animate-nav .animated {
  -webkit-animation: anim 1s;
  animation: anim 1s;
}

@-webkit-keyframes anim {
  from {
    -webkit-transform: scale(0, 1);
  }

  to {
    -webkit-transform scale(1, 1);
  }

}

@keyframes anim {
  from {
    transform: scale(0, 1);
  }

  to {
    transform scale(1, 1);
  }
}

@-webkit-keyframes slidein {
  from {
    -webkit-transform: translate(100%, 0);
  }

  to {
    -webkit-transform: translate(0, 0);
  }
}

@keyframes slidein {
  from {
    transform: translate(100%, 0);
  }

  to {
    transform: translate(0, 0);
  }
}
